#---------------------------------------
# Python build artifacts
#---------------------------------------
__pycache__/
*.py[cod]
*$py.class
*.so

#---------------------------------------
# Distribution / packaging
#---------------------------------------
build/
dist/
eggs/
.eggs/
*.egg-info/
wheels/
*.egg
.installed.cfg
MANIFEST

#---------------------------------------
# Installer logs
#---------------------------------------
pip-log.txt
pip-delete-this-directory.txt

#---------------------------------------
# Unit test / coverage reports
#---------------------------------------
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

#---------------------------------------
# Translations
#---------------------------------------
*.mo
*.pot

#---------------------------------------
# Databases and logs
#---------------------------------------
*.log
db.sqlite3
db.sqlite3-journal

#---------------------------------------
# Environments
#---------------------------------------
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#---------------------------------------
# Notebooks and IPython
#---------------------------------------
.ipynb_checkpoints
profile_default/
ipython_config.py

#---------------------------------------
# PyInstaller, PyBuilder
#---------------------------------------
*.manifest
*.spec
.pybuilder/
target/

#---------------------------------------
# Documentation
#---------------------------------------
docs/_build/
.site/

#---------------------------------------
# Cython debug symbols
#---------------------------------------
cython_debug/

#---------------------------------------
# Type checking
#---------------------------------------
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

#---------------------------------------
# Other tool-specific files
#---------------------------------------
.pdm.toml
.pdm-python
.pdm-build/

__pypackages__/
.scrapy
.webassets-cache
celerybeat-schedule
celerybeat.pid
